:root {
    --primary: #FF2751;
    --secondary: #FFC82E;
    --margin-per-section: 90px 0px 69px 0px;
    --color-white: #FFFF;
}

body {
    margin: 0;
    min-width: 100%;
    overflow-x: hidden;
}

.btn {
    background-color: var(--secondary);
    color: var(--color-white);
    border-radius: 40px;
}

.btn:hover {
    background-color: var(--color-white);
    color: var(--secondary);
    border-radius: 40px;
}

.navbar {
    padding-top: 30px;
    background-color: var(--primary);
}

header .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

header .navbar-expand-lg .navbar-collapse a {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.5px;
    color: #FFF;

}

header .navbar-expand-lg .navbar-collapse a:first-child {
    margin-right: 24px;
}

header h2 {
    font-size: 22px;
    line-height: 130%;
    width: 40%;
}

.people {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px !important;
}

.main-section {
    background-color: var(--primary);
    padding: 50px 0px 30px 0px;
}

section h1 {
    font-size: 64px;
    color: var(--color-white);
    font-weight: 600;
    letter-spacing: 2px;
}

section p {
    color: var(--color-white);
}

section .info {
    display: flex;
    align-items: center;
    justify-content: center;
}

section .arrow {
    width: 16px;
}

.card {
    background-color: var(--secondary);
    margin: 30px 0px;
    border-radius: 12px;
    border: none;
    padding: 45px;
}

.card:last-child {
    background-color: var(--primary);
    color: var(--color-white);
    list-style: none;
}

.card .item-title {
    color: var(--primary);
    margin-bottom: 32px;
}

.card .img-star {
    margin-right: -122px;
}

 .item-number {
    background-color: var(--primary);
    color: var(--color-white);
    margin-right: 21px;
    padding: 15px;
    border-radius: 50%;
}

.margin-section {
    margin: var(--margin-per-section);
}

.mini-card {
    background-color: var(--primary);
    width: 100%;
    border-radius: 12px;
    padding: 30px;
    color: var(--color-white);
    min-height: 160px;
    margin-bottom: 23px;
}

.mini-card p {
    margin: 0px !important;
}

.carousel-cell {
    min-height: 650px !important;
    max-width: 334px;
    margin-right: 40px !important;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    margin-bottom: 30px !important;
}
.flickity-prev-next-button {
    background-color: var(--primary) !important;
}
.spacement-desc {
    margin: 30px;
}

.spacement-name {
    padding: 33px 0px 15px 30px;
    color: var(--primary);
    font-weight: bold;
}

.flickity-page-dots {
    display: none;
}
.flickity-button{
    color: white !important;
}
.card-educational {
    background-color: var(--secondary);
    margin: 0px 10px;
    border-radius: 12px;
    border: none;
    padding: 45px;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}