:root {
    --primary: #FF2751;
    --secondary: #FFC82E;
    --margin-per-section: 90px 0px 69px 0px;
    --color-white: #FFFF;
}

body {
    margin: 0;
    min-width: 100%;    
    overflow-x: hidden;
}

.btn {
    background-color: var(--secondary) !important;
    color: var(--color-white) !important;
    border-radius: 40px !important;
}
.btn:hover{
    background-color: var(--color-white) !important;
    color: var(--secondary) !important;
    border-radius: 40px !important;
}
.navbar {
    padding-top: 30px;
    background-color: var(--primary);
}

header .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

header .navbar-expand-lg .navbar-collapse a {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.5px;
    color: #FFF;
   
}

header .navbar-expand-lg .navbar-collapse a:first-child {
    margin-right: 24px;
}

header h2 {
    font-size: 22px;
    line-height: 130%;
    width: 40%;
}

.people {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px !important;
}

.main-section {
    background-color: var(--primary);
    padding: 50px 0px 30px 0px;
}

section h1 {
    font-size: 64px;
    color: var(--color-white);
    font-weight: 600;
    letter-spacing: 2px;
}

section p {
    color: var(--color-white);
}

section .info {
    display: flex;
    align-items: center;
    justify-content: center;
}

section .arrow {
    width: 16px;
}

.card {
    background-color: var(--secondary) !important;
    margin: 30px 0px !important;
    border-radius: 12px !important;
    border: none !important;
    padding: 45px !important;
}

.card:last-child {
    background-color: var(--primary) ;
    color: var(--color-white);
    list-style: none;
}

.card .item-title {
    color: var(--primary);
    margin-bottom: 32px;
}
.card .img-star {
    margin-right: -122px;
}

.card .item-number {
    background-color: var(--primary);
    color: var(--color-white);
    margin-right: 21px;
    padding: 15px;
    border-radius: 50%;
}

.margin-section {
    margin: var(--margin-per-section);
}

.mini-card{
    background-color: var(--primary);
    width: 100%;
    border-radius: 12px;
    padding: 30px;
    color: var(--color-white);
    min-height: 160px;
    margin-bottom: 23px;
}

.mini-card p {
    margin: 0px !important;
}