<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

    <title>Document</title>
</head>

<body>
    <div id="app">
        <header>
            <nav class="navbar navbar-expand-lg menu">
                <div class="container d-flex justify-content-center">
                    <a class="navbar-brand" href="https://creators.llc/" target="_blank">
                        <img class="d-none d-md-block" src="./assets/white.svg" alt="creators logo">
                        <img class="d-md-none d-block" src="./assets/white.svg" alt="creators logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarMenu">
                        <ul class="navbar-nav col-xl-8">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Como Funciona</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Como participar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Mentores</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Programação</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" target="_blank">FAQ</a>
                            </li>
                            <li class="nav-item">
                                <button class="btn btn-nav">Inscreva-se</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    
        <section class="main-section">
            <div class="row container-fluid-0">
                <div class="col-md-6 info">
                    <div>
                        <h1>AliExperts <br> Creator Program</h1>
                        <p>Já pensou em crescer suas redes e sua monetização <br> em parceria com o AliExpress? Inscreva-se
                            para o <br> primeiro programa de crescimento para <br> nanoinfluenciadores, os
                            <strong>AliExperts!</strong></p>
                        <button class="btn">
                            Inscreva-se <span><img class="arrow" src="assets/Arrow 1.png" alt=""></span>
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <img class="people" src="assets/people.jpg" alt="">
                </div>
            </div>
        </section>
    
        <main>
            <div class="container">
                <h2 class="margin-section">Como funciona o AliExperts</h2>
                <div class="card" v-for="(item, index) in items" :key="index">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-6 img-star d-flex align-items-center justify-content-center"><img
                                :src="item.image" alt=""></div>
                        <div class="col-md-6 info">
                            <h2 class="item-title"><span class="item-number">{{item.numbers}}</span>{{ item.title }}</h2>
                            <p class="item-description" v-html="item.description"></p>
                        </div>
                    </div>
                </div>
                <h2 class="margin-section">Como participar do programa AliExperts</h2>
                <div class="card" v-for="(item, index) in itemsWork" :key="index">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-6 img-star d-flex align-items-center justify-content-center"><img
                                :src="item.image" alt=""></div>
                        <div class="col-md-6 info">
                            <p class="item-description" v-html="item.description"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div v-for="(item, index) in itemsMiniCard" :key="index" class="col-md-6 col-sm-3">
                        <div class="mini-card d-flex align-items-center justify-content-center">
                            <span class="me-4"><img src="/assets/losango.svg" alt=""></span>
                            <p v-html="item.content"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <h2 class="margin-section">Aprenda com especialistas</h2>
                <div class="carousel" data-flickity='{ "wrapAround": true }'>    <div class="carousel-cell" v-for="(tutor, index) in tutors" :key="index">
                            <div>
                               <img :src="tutor.image" alt="">
                            </div>
                            <div>
                                {{tutor.name}}
                            </div>
                            <hr>
                            
                            <div>
                                {{tutor.description}}
                            </div>
                        </div>                 
                  </div>
                  <h2 class="margin-section">Aprenda com especialistas</h2>

            </div>
        </main>
    </div>

<script src="./js/all.js"></script>
</body>

</html>